{% extends "layout.html" %}
{% block title %}
market
{% endblock %}
{% block nav %}
market
{% endblock %}

{% block body %}
<div class="container ">
  <table class="table">
  <thead>
    <tr class="table-success">
      <th scope="col">No</th>
      <th scope="col">Name</th>
      <th scope="col">Barcode</th>
      <th scope="col">Price</th>
      <th scope="col">Buy</th>
    </tr>
  </thead>
  <tbody>
    {% for Item in items %}
      <tr class="table-secondary">
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <button class="btn btn-info btn-sm">Info</button>
        <button class="btn btn-success btn-sm">Buy</button>
     </td>
    </tr>
    {% endfor %}
   
    
  </tbody>
  </table>
   <div>
      <button type="button" class="btn btn-primary btn-lg" action="url_for('add_item')">Add Item</button> 
    </div>
</div>
<style>
  body{
    background-color: #cae7df;
  }
</style>
{% endblock %}