{% extends "layout.html" %}
{% block title %}
market
{% endblock %}
{% block nav %}
market
{% endblock %}

{% block body %}
<div class="container ">
  <table class="table">
  <thead>
    <tr class="table-success">
      <th scope="col">No</th>
      <th scope="col">Name</th>
      <th scope="col">Barcode</th>
      <th scope="col">Price</th>
      <th scope="col">Buy</th>
    </tr>
  </thead>
  <tbody>
    {% for Item in items %}
      <tr class="table-secondary">
      <th scope="row">{{ Item.id }}</th>
      <td>{{ Item.name }}</td>
      <td>{{ Item.barcode }}</td>
      <td>{{ Item.price }}</td>
      <td>
        <button class="btn btn-info btn-sm">Info</button>
        <button class="btn btn-success btn-sm">Buy</button>
     </td>
    </tr>
    {% endfor%}
    
  </tbody>
  </table>
</div>
<style>
  body{
    background-color: #cae7df;
  }
</style>
{% endblock %}