{% extends "layout.html" %}
{% block title %}
market
{% endblock %}
{% block nav %}
market
{% endblock %}

{% block body %}
<div class="container ">
  <table class="table text-white">
  <thead class="text-white">
    <tr class="text-white">
      <th scope="col text-white">No</th>
      <th scope="col text-white">Name</th>
      <th scope="col text-white">Barcode</th>
      <th scope="col text-white">Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
  </tbody>
  </table>
</div>
<style>
  body{
    background-color: #cae7df;
  }
</style>
{% endblock %}