{% extends "layout.html" %}

{% block title %}
  Register here
{% endblock %}

{% block nav %}
  Register
{% endblock %}

{% block background_class %}
  container text-center bg-info
{% endblock%}

{% block body %}
      <div class="container">
        <form method="post">
          {{ form.hidden_tag() }}
          
          {% with message = get_flashed_messages(with_categories=True) %}
          {% for category, msg in message %}
            <div class="alert alert-{{category}}">
              {{ msg[0] }}
              <button type="button" class="btn-close" aria-label="Close" data-dismiss="alert(this)" onclick="dismissAlert(this)" ></button>
            </div>
          {% endfor %}
          {% endwith %}
          
          <h2>Register Here</h2>
          {{ form.user_name.label(class="form-label") }}
          {{ form.user_name(class="form-control inp", placeholder="User Name...") }}
          
          {{ form.email_address.label(class="form-label") }}
          {{ form.email_address(class="form-control inp", placeholder="Email Address...") }}
          
          {{ form.password1.label(class="form-label") }}
          {{ form.password1(class="form-control inp", placeholder="Password...") }}
        
          {{ form.password2.label(class="form-label") }}
          {{ form.password2(class="form-control inp", placeholder="Confom password...") }}
          <p><a href="{{url_for('login_page')}}">Already have an account</a></p>
          {{ form.submit(class="btn-primary btn-lg btn") }}
        </form>
      </div>
      <style>
        .inp{
          margin-bottom:15px;
        }
      </style>
      <script>
    function dismissAlert(button) {
        // Find the parent alert div and hide it
        const alertDiv = button.closest(".alert");
        if (alertDiv) {
            alertDiv.style.display = "none";
        }
    }
      </script>

{% endblock %}